<!DOCTYPE html>
<html>
  <head>
    <title>SkateMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice text-green"><%= notice %></p>
    <p class="alert text-red"><%= alert %></p>
    <% if current_user %>
      <nav>
        <p>Welcome, <%= current_user.username %>.</p>
        <a href="/">Home</a>
      </nav>
      
    <% end %>
    <%= yield %>
  </body>
</html>
