<!DOCTYPE html>
<html>
  <head>
    <title>SkateMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <% if current_user %>
      <nav>
        <p>Welcome, <%= current_user.username %>.</p>
      </nav>
      
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
